<header>
  <div class="logos">
    <div id="logo1"></div>
    <div id="logo2"></div>
  </div>
  <div class="indicadores">
    <div id="reloj"></div>
    <span>25</span>
    <div id="advertencia"></div>
    <span>119</span>
    <div id="carrito"></div>
    <span>3295</span>
    <div id="poli"></div>
    <span>22</span>
  </div>
  <div class="configuraciones">
    <span id="fecha">{{ fechaHoraInput | date : "dd/MM/yyyy" }}</span>

    <span id="hora">{{ fechaHoraInput | date : "hh:mm a" }}</span>
  </div>
  <div class="secion">
    <div id="info"></div>
    <div id="task"></div>
    <div id="gear"></div>
    <span>jamolanom</span>
    <div id="user"></div>
  </div>
</header>
