.contenedor {
  /* Viewport Width */
  width: 100vw;
  /* Viewport Height */
  height: 100vh;
  /* Establece el layout de Grid */
  display: grid;
  /* Espacio entre las áreas */
  /* Establece las filas y columnas del layout */
  grid-template-rows: 80px auto;
  grid-template-columns: 64px auto;
  /* Establece las áreas */
  grid-template-areas:
    "header header"
    "menu contenido";

  background-color: #000;
  position: relative;
}
.header {
  background-color: #00373b;
  grid-area: header;
  border-bottom: 1px solid #fff;
}
.sidebar {
  background-color: #011112;
  grid-area: menu;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.contenido {
  grid-area: contenido;
  background-color: #00373b;
}

.hover-div1 {
  margin: 0;
  margin-left: 64px;
  margin-top: 80px;
  position: absolute;
  z-index: 100;
  width: 100px;
  height: 50px;
  border-bottom: 1px solid #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  background-color: #011112;
}
.hover-div2 {
  margin: 0;
  margin-left: 64px;
  margin-top: 131px;
  position: absolute;
  z-index: 100;
  background-color: #011112;
  width: 100px;
  height: 50px;
  border-bottom: 1px solid #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  background-color: #011112;
}
.hover-div3 {
  margin: 0;
  margin-left: 64px;
  margin-top: 182px;
  position: absolute;
  z-index: 100;
  background-color: #011112;
  width: 100px;
  height: 50px;
  border-bottom: 1px solid #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  background-color: #011112;
}
.hover-div4 {
  margin: 0;
  margin-left: 64px;
  margin-top: 233px;
  position: absolute;
  z-index: 100;
  background-color: #011112;
  width: 50px;
  height: 50px;
  border-bottom: 1px solid #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  background-color: #011112;
}
.bus {
  margin: 0;
  margin-left: 64px;
  margin-top: 681px;
  position: absolute;
  z-index: 100;
  width: 64px;
  height: 50px;
  background-color: #011112;
  #bus {
    width: 50px;
    height: 40px;
    margin-top: 10px;
    margin-left: 10px;
    background-image: url(../assets/img/bus-stop.svg);
    background-repeat: no-repeat;
    cursor: pointer;
    filter: brightness(1.2); /* Ajusta el brillo si deseas resaltar la imagen */
    transition: filter 0.3s;
  }
  #bus:hover {
    filter: brightness(1.5) drop-shadow(0 0 5px #00ff00);
  }
}

.caso1 {
  width: 50px;
  height: 50px;
  margin-top: 12px;
  margin-left: 5px;
  background-image: url(../assets/img/Agentes.svg);
  background-repeat: no-repeat;
}
.caso2 {
  width: 50px;
  height: 50px;
  margin-top: 12px;
  margin-left: 5px;
  background-image: url(../assets/img/Incidentes.svg);
  background-repeat: no-repeat;
}
.hidden {
  display: none;
}
