<div class="custom-popup">
  <div class="modal_paraderos_header">
    <div #iconomodalparadero>
      <p><strong>ID:</strong> ${properties.ID}</p>
    </div>
    <div #ubicacionmodalparadero>
      <p><strong>UBICACION:</strong> ${properties.UBICACION}</p>
    </div>
  </div>
  <div class="modal_paraderos_body">
    <div>
      <strong>TIPO DE PARADERO</strong>
      <img src="../../../assets/img/Aforo.svg" alt="" />
      <p>${properties.TIPO}</p>
    </div>
    <div>
      <strong>NO. DE RUTAS:</strong>
      <img src="../../../assets/img/Aforo.svg" alt="" />
      <p>${properties.N_RUTAS}</p>
    </div>
    <div>
      <strong>ADMINISTRADOR</strong>
      <img src="../../../assets/img/Aforo.svg" alt="" />
      <p>${properties.ADMINISTRA}</p>
    </div>
  </div>
</div>
