/* You can add global styles to this file, and also import other style files */

* {
  margin: 0;
  padding: 0;
}

.custom-popup {
  width: 784px;
  height: 212px;
  background-color: #051619;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 13px;
  color: #fff;
}
.modal_paraderos_header {
  width: 784px;
  height: 48px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #092023;
  border-radius: 13px;
}
.modal_paraderos_body {
  width: 784px;
  height: 164px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.conten_modal_paradero {
  width: 240px;
  height: 145px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

#imgbus {
  width: 32px;
  height: 32px;
}
#iconomodalparadero {
  width: 70px;
  height: 48px;
  border-left: 10px solid #c6ff01;
  border-radius: 7px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
#idmodal {
  width: 46px;
  height: 48px;
}
#ubicacionmodalparadero {
  flex-grow: 1;
  height: 48px;
}

.modalhover {
  background-color: #0c272b;
  width: 274px;
  height: 94px;
  border-radius: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.modalburbuja {
  background-color: #0c272b;
  margin-top: 10px;
  padding: 3px;
  width: 230px;
  height: 95px;
  clip-path: polygon(
    0% 0%,
    100% 0,
    100% 89%,
    56% 90%,
    49% 100%,
    42% 90%,
    0 90%
  );
  color: #eefdca;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  border-radius: 40px;
}
.modalhoverubicacion {
  height: 60px;
  font-size: 13px;
}
.modalhoverid {
  height: 11px;
  text-align: center;
  color: #d2fd51;
}

.mapboxgl-popup-content {
  background-color: #c6ff01;
}

.mapboxgl-popup {
  /* Anula los estilos predeterminados del popup */
  max-width: none !important;
  transform: none !important;
  translate: none !important;
}
.mapboxgl-popup-content {
  /* Anula los estilos adicionales del popup content */
  margin: 0 !important;
  padding: 0 !important;
  background-color: inherit !important;
  border-bottom-left-radius: inherit !important;
}
