/* You can add global styles to this file, and also import other style files */

* {
  margin: 0;
  padding: 0;
}
.custom-popup {
  width: 784px;
  height: 217px;
  background-color: #002124;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.modal_paraderos_header {
  width: 784px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal_paraderos_body {
  width: 784px;
  height: 164px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.conten_modal_paradero {
  width: 240px;
  height: 145px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
img {
  width: 72px;
  height: 72px;
}
