.cards {
  margin: 0;
  padding: 0;
  width: 64px;
  height: 65px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #fff;
  cursor: pointer;
  filter: brightness(2.2);
  transition: filter 0.3s;
}

.cards:hover {
  filter: brightness(1.5) drop-shadow(0 0 5px #00ff00);
}

.card {
  width: 32px;
  height: 32px;
  margin: 0;
  padding: 0;
  img {
    width: 32px;
    height: 32px;
    margin: 0;
    padding: 0;
  }
}
